# GCP Configuration
GOOGLE_APPLICATION_CREDENTIALS=
GCP_PROJECT_ID=
GCS_BUCKET_NAME=

# BigQuery Configuration
BIGQUERY_DATASET=
BIGQUERY_TABLE_EVENTS=
BIGQUERY_TABLE_CHURN_RISK=

# Alerts Configuration
SLACK_WEBHOOK_URL=
