# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Private Variables
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
*.env

# Virtual environments
.venv/
venv/
ENV/
env/

# Google Cloud Service Account Keys / Secrets
*.json
!bigquery/schema.json
!*requirements.txt

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
